

body {
  background-color: #FBE2D1;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.page-wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 900;
  font-size: 300%;
}

h3 {
  font-size: 150%;
  text-align: center;
}

p {
  color: #479295;
  font-weight: bolder;
  font-size: 130%;
  /* word-break: break-all; */
}

.beginning {
  background-color: #83C1C3;
  width: 100%;
  position: center;
  color: #FBE2D1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  
}

/* #button {
  padding-bottom: 30px;
  overflow: hidden;
  min-width: none;
  text-align: center;
} */

.image_quote {
  padding-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.quoteBtn {
  background-color: #5AADAF ;
  border-radius: 10px;
  padding: 17px;
  font-size: 15px;
  color: whitesmoke;
  font-family: 'Spartan', sans-serif;
  font-weight:600;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 400px;
  margin-right: 400px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#quote {
  width: 80%;
}


img {
  object-fit: contain;
  height: 550px;
  width: auto;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.image {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}




.middle {
  color: #479295;
  background-color: #F5B88E;
  /* padding: 40px; */
  text-align: center;
  font-size: 100%;
  margin: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

form {
  text-align: center;

}

textarea {
  height: auto;
  box-sizing: border-box;
  width: 50%;
  font-family: 'Spartan', sans-serif;
  margin-top: 30px;
  font-size: 120%;
}

#save {
  background-color: #5AADAF ;
  border-radius: 10px;
  padding: 17px;
  font-size: 15px;
  color: whitesmoke;
  font-family: 'Spartan', sans-serif;
  font-weight:600;
  border-style: none;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  background-color: #83C1C3;
  width: 100%;
  /* padding: 20px; */
  position: relative;
  color: #FBE2D1;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1250px) {
  
    h1 {
      font-weight: 900;
      font-size: 200%;
    }
    
    h3 {
      font-size: 120%;
      text-align: center;
    }
    
    p {
      color: #479295;
      font-weight: bolder;
      font-size: 120%;
    }
    .middle {
      font-size: 90%;
    }
    .quoteBtn {
      font-size: 13px;
    }
    textarea {
      width: 45%;
      font-size: 110%;
    }
    #save {
      font-size: 13px;
    }
    img {
      height: 450px;
      width: auto;
    }
}

@media only screen and (max-width: 980px) {
  
  h1 {
    font-weight: 900;
    font-size: 180%;
  }
  
  h3 {
    font-size: 100%;
    text-align: center;
  }
  
  p {
    color: #479295;
    font-weight: bolder;
    font-size: 110%;
  }
  .middle {
    font-size: 80%;
  }
  .quoteBtn {
    font-size: 11px;
    padding: 12px;
    /* margin-left: 350px;
    margin-right: 350px; */
    
  }
  textarea {
    width: 45%;
    font-size: 100%;
  }
  #save {
    font-size: 11px;
    padding: 14px;
  }
  img {
    height: 400px;
    width: auto;
  }
}

@media only screen and (max-width: 650px) {
  
  h1 {
    font-weight: 900;
    font-size: 180%;
  }
  
  h3 {
    font-size: 90%;
    text-align: center;
  }
  
  p {
    color: #479295;
    font-weight: bolder;
    font-size: 100%;
  }
  .middle {
    font-size: 60%;
  }
  .quoteBtn {
    font-size: 11px;
    padding: 12px;
    /* margin-left: 350px;
    margin-right: 350px; */
    
  }
  textarea {
    width: 45%;
    font-size: 80%;
  }
  #save {
    font-size: 11px;
    padding: 14px;
  }
  img {
    height: 350px;
    width: auto;
  }
}


@media only screen and (max-width: 580px) {
  img {
    height: 300px;
    width: auto;
  }
}

@media only screen and (max-width: 490px) {
  img {
    height: 250px;
    width: auto;
  }
}



@media only screen and (max-width: 375px) {
  
  h1 {
    font-weight: 900;
    font-size: 150%;
  }
  
  h3 {
    font-size: 70%;
    text-align: center;
  }
  
  p {
    color: #479295;
    font-weight: bolder;
    font-size: 80%;
  }
  .middle {
    font-size: 48%;
  }
  .quoteBtn {
    font-size: 9px;
    padding: 10px;
    /* margin-left: 350px;
    margin-right: 350px; */
    
  }
  textarea {
    width: 55%;
    font-size: 60%;
  }
  #save {
    font-size: 9px;
    padding: 10px;
  }
  img {
    height: 200px;
    width: auto;
  }
}